# Have direnv to activate the existing environment - must be Bash-compatible
#source cowproj/bin/activate

load_direnv_virtualenv() {
    export VIRTUAL_ENV=$(pwd)/cowproj
    PATH_add "$VIRTUAL_ENV/bin"
}

load_direnv_virtualenv

# Set the Gemini API Key so it's always ready
export GEMINI_API_KEY="AIzaSyBnTannOKLFRnNH5Zs6JGU1-pj78U97PwI"
