# Have direnv to activate the existing environment - must be Bash-compatible
#source cowproj/bin/activate

# This tells direnv to use uv to manage and load the environment
layout uv

# Set the Gemini API Key so it's always ready
export GEMINI_API_KEY="AIzaSyDmeonn7_2LcMI1-vAlHOFAOzNHh-sjcAs"
