# Have direnv to activate the existing environment - must be Bash-compatible
#source cowproj/bin/activate

# Point to specific venv folder
export VIRTUAL_ENV=$(pwd)/cowproj

# Manually add venv's bin to the PATH
PATH_add "$VIRTUAL_ENV/bin"

# Set the Gemini API Key so it's always ready
export GEMINI_API_KEY="AIzaSyDxyxobfVM7R6TUAxWf_RsGnk_KV8Er5PQ"
